Options +FollowSymlinks
RewriteEngine on
ErrorDocument 404 https://angularjs.org
Options All -Indexes
#DirectoryIndex newindex.html
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

AuthName "Enter username and password"
AuthType Basic 
AuthUserFile /E/WEBAPP/webapp-angular-noadmin/app/.htpasswd
AuthGroupFile /dev/null
<Files file1.php>
require valid-user
</Files>
#Header always append X-Frame-Options SAMEORIGIN
Header set Access-Control-Allow-Origin *

#Begin - Redirect non-www to www
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteCond %{REQUEST_URI} !.*\.(pdf|doc|docx|xls|xlsx|avi|webm|ogg|mp3|mp4|css|less|js|tpl|png|jpg|jpeg|gif|woff|woff2|tff|svg|eot)
RewriteRule (.*) index.html [L]