<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<customErrors mode="remoteonly" defaultRedirect="index.html" />
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Imported Rule 1" stopProcessing="true">
					<match url="^index\.html" />
					<action type="None" />
				</rule>
				<rule name="Imported Rule 2" stopProcessing="true">
					<match url="." />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<remove fileExtension=".tpl" />
			<mimeMap fileExtension=".tpl" mimeType="text/html" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
	</system.webServer>
</configuration>